<p>details-object works!</p>

<!-- <div *ngIf="object">
    <h3 >Object</h3>
    <div class="form-group">
        <label class="form-label">Date de sortie</label>
        <div class="form-control">{{object.description}}</div>
    </div>
    <div class="form-group">
        <label class="form-label">Duree</label>
        <div class="form-control">{{film.duree! }}</div>
    </div>
    <div class="form-group">
        <label class="form-label">Couleur</label>
        <div class="form-control">{{film.couleur ? "oui" : "non" }}</div>
    </div>
</div> -->